.layout {
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.contentArea {
  position: relative;
  min-height: 0;
  display: flex;
  flex: 1;
  flex-direction: column;
}

.mainContent {
  flex: 1;
  min-height: 0;
  margin-left: var(--layout-sidebar-width-collapsed);
  padding: var(--space-4);
  color: var(--color-text-default);
  background: var(--color-bg-default);
  overflow: auto;
}
